body {
  background-color: gray;
}

.title {
  font-family: sans-serif;
  text-decoration: underline;
}
\n
.image-title {
  color: cornflowerblue;
  font-family: sans-serif;
}
\n
.mk-image {
  height: 200px;
  width: 200px;
}
\n
.history-title {
  color: cornflowerblue;
  font-family: sans-serif;
}
\n
.contributions-title {
  color: cornflowerblue;
  font-family: sans-serif;
}
\n
.quote-title {
  color: cornflowerblue;
  font-family: sans-serif;
}
\n
.quote {
  font-style: italic;
  font-weight: bold;
}