body {
  background-color: gray;
}

.title {
  font-family: sans-serif;
  text-decoration: underline;
}

.image-title {
  color: cornflowerblue;
  font-family: sans-serif;
}

.mk-image {
  height: 200px;
  width: 200px;
}

.history-title {
  color: cornflowerblue;
  font-family: sans-serif;
}

.contributions-title {
  color: cornflowerblue;
  font-family: sans-serif;
}

.quote-title {
  color: cornflowerblue;
  font-family: sans-serif;
}

.quote {
  font-style: italic;
  font-weight: bold;
}
